<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave a Message | Paul & Louise Wedding</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <form method="post" autocomplete="off">
        <label for="message">Message:</label>
        <input type="text" name="message" id="message">
        <label for="from">From:</label>
        <input type="text" name="from" id="from">
        <input type="submit" hidden>
    </form>
</body>
</html>